.dockerignore
.env
.git
.gitignore
.vs
.vscode
docker-compose*.yml
docker-compose.dcproj
*.md
LICENSE
*.testsettings
vsts-docs
test
README
**/node_modules/
**/postman/
**/build/
**/dist/
**/*.csproj.user
